@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-radial-gradient {
    background-image: radial-gradient(hsla(0, 0%, 63%, 0.802) 5%, transparent 0);
    background-size: 20px 20px;
  }

  .diagonal-gradient {
    background-image: repeating-linear-gradient(-45deg, 
    transparent, transparent 10px, 
    rgb(55, 55, 55, 0.15) 0, rgb(55, 55, 55, 0.15) 20px);
  }
  
  @media (prefers-color-scheme: dark) {
    .dark .diagonal-gradient-dark {
      background-image: repeating-linear-gradient(-45deg, 
      transparent, transparent 10px, 
      rgb(55, 55, 55, 0.35) 0, rgb(55, 55, 55, 0.35) 20px);
    }
    .custom-radial-gradient {
      background-image: radial-gradient(hsla(0, 1%, 31%, 0.853) 5%, transparent 0);
    }
  }
}

.path {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 235, 235, 235;
}

* {
  transition: all .15s ease;
}

* .no-scroll::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 10, 10, 15;
    --background-end-rgb: 10, 10, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* Custom css */
.layout {
  display: flex;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #00db96 ;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  border-radius: 1rem;
  cursor: grab;
}

*::-webkit-scrollbar-track {
  background: rgb(var(--foreground-rgb), 0.2);
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #00db96, transparent);
}

.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 2.5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #00db96;
}