@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-radial-gradient {
    background-image: radial-gradient(hsl(0, 0%, 70%) 5%, transparent 0);
    background-size: 20px 20px;
  }

  @media (prefers-color-scheme: dark) {
    .custom-radial-gradient {
      background-image: radial-gradient(hsl(0, 1%, 31%) 5%, transparent 0);
    }
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 235, 235, 235;
}

* {
  transition: all .15s ease;
}

* .no-scroll::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 10, 10, 15;
    --background-end-rgb: 10, 10, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Custom css */
.layout {
  display: flex;
}